<div class="relative w-full">
  <input
    type="text"
    [(ngModel)]="input"
    placeholder="Seach Hero..."
    (keyup)="getSearch($event)"
    class="px-4 py-2 rounded-md focus:border focus:outline-none active:border-none"
  />

  <div
    *ngIf="searchData.length > 0"
    style="cursor: pointer"
    class="absolute -bottom-26 mt-5 shadow-lg bg-gray-200 z-10 w-full rounded-md"
  >
    <ul class="w-full p-2" *ngFor="let data of searchData">
      <li
        (click)="handleClick(data.id)"
        class="mb-2 p-2 rounded-md bg-white hover:bg-gray-100 transition-all duration-200"
      >
        {{ data.name }}
      </li>
    </ul>
  </div>
</div>
