<div class="container mx-auto" style="height: 100vh">
  <div class="flex flex-col items-center justify-center">
    <h1 class="mt-10 mb-5 text-2xl text-center">Register</h1>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleSubmit()"
      class="flex flex-col w-full p-5 bg-white rounded-lg shadow-lg md:w-1/2"
    >
      <div class="flex flex-col mb-4">
        <label for="name" class="mb-2 text-xl">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          class="px-4 py-2 border border-gray-400 rounded-md focus:outline-none"
        />
        <div
          class="mt-2 ml-2"
          *ngIf="
            !registerForm.controls.email?.valid &&
            (registerForm.controls.email?.dirty ||
              registerForm.controls.email?.touched)
          "
        >
          <p class="text-sm text-red-400">Harus Email!</p>
        </div>
      </div>
      <div class="flex flex-col mb-4">
        <label for="name" class="mb-2 text-xl">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          placeholder="Username"
          class="px-4 py-2 border border-gray-400 rounded-md focus:outline-none"
        />
        <div
          class="mt-2 ml-2"
          *ngIf="
            !registerForm.controls.username?.valid &&
            (registerForm.controls.username?.dirty ||
              registerForm.controls.username?.touched)
          "
        >
          <p class="text-sm text-red-400">Minimal 5 Karakter!</p>
        </div>
      </div>
      <div class="flex flex-col mb-4">
        <label for="name" class="mb-2 text-xl">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          class="px-4 py-2 border border-gray-400 rounded-md focus:outline-none"
        />
        <div
          class="mt-2 ml-2"
          *ngIf="
            !registerForm.controls.password?.valid &&
            (registerForm.controls.password?.dirty ||
              registerForm.controls.password?.touched)
          "
        >
          <p class="text-sm text-red-400">Minimal 5 Karakter!</p>
        </div>
      </div>

      <div class="mt-5">
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="px-4 py-2 text-white transition-all duration-300 bg-blue-400 rounded-md hover:bg-blue-500"
        >
          {{isLoading ? "Loading..." : "Register"}}
        </button>
        <button
          routerLink="/users/login"
          class="px-4 py-2 ml-2 text-white transition-all duration-300 bg-green-400 rounded-md hover:bg-green-500"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
