<nav class="bg-gray-800">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"
      >
        <div class="hidden sm:block sm:ml-6" *ngFor="let menu of menus">
          <div class="flex space-x-4">
            <a
              routerLink="{{ menu.path }}"
              class="px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md"
              >{{ menu.name }}</a
            >
          </div>
        </div>
        <button
          (click)="handleLogout()"
          class="px-3 py-2 ml-5 text-sm font-medium text-white bg-gray-900 rounded-md"
        >
          Logout
        </button>
      </div>

      <div>
        <app-search></app-search>
      </div>
    </div>
  </div>

  <div class="sm:hidden" id="mobile-menu">
    <div *ngFor="let menu of menus" class="px-2 pt-2 pb-3 space-y-1">
      <a
        routerLink="{{ menu.path }}"
        class="block px-3 py-2 text-base font-medium text-white bg-gray-900 rounded-md"
        >{{ menu.name }}</a
      >
    </div>
  </div>
</nav>
