<div class="container mx-auto">
  <h1 class="text-center my-5 text-2xl">Dashboard Page</h1>
  <ng-container *ngIf="heroes.length > 0">
    <div
      class="flex justify-start items-center flex-wrap flex-row"
      *ngIf="!isLoadingFetch"
    >
      <div class="lg:w-2/6 md:w-1/2 w-full" *ngFor="let hero of heroes">
        <div
          routerLink="/detail/{{ hero.id }}"
          style="cursor: pointer;"
          class="mx-1 bg-gray-100 mb-5 p-5 shadow-lg rounded-md hover:bg-gray-200 transition-all duration-200 ease-in-out"
        >
          <h5 class="text-2xl">{{ hero.name }}</h5>
          <p class="text-sm text-justify mt-2">
            {{ hero.description }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoadingFetch">
    <div class="flex justify-center items-center w-full">
      <h5 class="text-gray-800 text-center">Loading..</h5>
    </div>
  </ng-container>
</div>
