<div class="container mx-auto">
  <h1 class="text-center my-5 text-2xl">Dashboard Page</h1>
  <ng-container *ngIf="heroes.length > 0">
    <div
      class="flex justify-start items-center flex-wrap flex-row"
      *ngIf="!isLoadingFetch"
    >
      <div
        class="lg:w-2/6 md:w-1/2 w-full relative"
        *ngFor="let hero of heroes"
      >
        <div
          class="mx-1 bg-gray-100 mb-5 p-5 shadow-lg rounded-md hover:bg-gray-200 transition-all duration-200 ease-in-out"
        >
          <h5 class="text-2xl">{{ hero.name }}</h5>
          <p class="text-sm text-justify mt-2">
            {{ hero.description }}
          </p>

          <div class="mt-5">
            <button
              routerLink="/edit/{{ hero.id }}"
              class="text-white hover:bg-blue-500 transition-all duration-300 bg-blue-400 px-4 py-2 rounded-md"
            >
              Edit
            </button>
            <button
              class="text-white ml-2 hover:bg-green-500 transition-all duration-300 bg-green-400 px-4 py-2 rounded-md"
            >
              Detail
            </button>
          </div>
        </div>

        <div
          (click)="deleteHero(hero.id)"
          class="absolute top-0 right-0 bg-red-300 rounded-full flex justify-center items-center"
          style="height: 20px; width: 20px; cursor: pointer"
        >
          <span class="text-sm text-white mb-1"> x </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoadingFetch">
    <div class="flex justify-center items-center w-full">
      <h5 class="text-gray-800 text-center">Loading..</h5>
    </div>
  </ng-container>
</div>
