<div class="container mx-auto mt-10">
  <div class="flex justify-center items-center flex-col">
    <h1 class="text-2xl text-center">Detail Hero</h1>
    <div
      class="bg-white rounded-lg shadow-lg flex flex-col w-full md:w-1/2 p-5"
      *ngIf="!isLoadingFetch"
    >
      <h2 class="text-xl">{{ hero?.name }}</h2>
      <p class="mt-2">
        {{ hero?.description }}
      </p>

      <div class="mt-5">
        <button
          (click)="goBack()"
          class="text-white hover:bg-red-500 transition-all duration-300 bg-red-400 px-4 py-2 rounded-md"
        >
          Back
        </button>
      </div>
    </div>

    <div class="flex justify-center items-center" *ngIf="isLoadingFetch">
      <p class="text-center">Loading...</p>
    </div>
  </div>
</div>
